/* generelt css */

@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-color: #FDF7F0;
  --color-1: #4F4139;
  --color-2: #617166;
  --color-3: #DFCCB9;
  --color-4: #E7A281;
  --color-5: #A7C4C0;
  --background-color: #FDF7F0;

  --primary-font: "Neue Kabel", sans-serif;
  --secondary-font: "Allison", cursive;
  --third-font: "Montserrat", sans-serif;
  --main-text-color: #4F4139;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-1);
    padding-left: 5%;
    padding-right: 5%;
}

p {
    font-family: var(--primary-font);
    color: var(--color-1);
    font-weight: 200;
    font-size: 1rem;
}

/**************************************************/
/* Hero */
/**************************************************/

#hero {
    height: 60vh;
    background-color: var(--color-3);
    background-image: url(/assets/hero-grid.png);
    background-position: center;
    background-size: cover;
} 
    #hero div {
    place-items: center;
  }
  
  #hero div * {
    grid-area: 1 / 1 / -1 / -1;
  }

  #hero h1 {
    font-family: var(--primary-font);
    font-size: 5rem;
    font-weight: 400;
    color: var(--color-1);
    padding-top: 12vh;
  }

  #hero h3 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    letter-spacing: 2px;
    transform: rotate(-3deg);
    color: var(--color-1);
    padding-top: 10vh;

  }

  .front-img-hero {
    display: flex;
    align-self: flex-end;
  }

/**************************************************/
/* About us */
/**************************************************/

#about_us {
    background-color: var(--background-color);
}

#more_info {
    background-color: #2C3B44;
}

#more_info h2, #more_info p {
    color: var(--color-3);
}

.vikinge_bk_img{
    background-image: url(/assets/gevinst-billede-opdeler.jpg);
    background-position: bottom;
    background-size: cover;
    height: 60vh;
}

.vikinge_bk_img img {
    height: 63vh;
}


/**************************************************/
/* Products */
/**************************************************/

  
.products-1 {
    background-color: var(--background-color);
    background-image: url(/assets/hero-grid.png);
    background-position: center;
    background-size: cover;
}

.products-1 h4 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--main-text-color);
}

.products-1 .product {
    max-width: 60%;
}

.products-1 h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.products-1 .product:hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.products-2 h2 {
    text-transform: lowercase;
    transform: rotate(90deg);
    font-size: 6rem;
    color: var(--color-3);
    transform-origin: 70% 30%;
}

.products-2 img:hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.products-2 {
    background-color: var(--color-1);
    background-position: center;
    background-size: cover;
}

.products-2 img {
    max-width: 75%;
}

/**************************************************/
/* Moments */
/**************************************************/

#moments-section h3 {
    font-family: var(--primary-font);
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--main-text-color);
}

/* #moments-section img {
    border-radius: 61% 39% 51% 49% / 48% 44% 56% 52%;

} */

/**************************************************/
/* Social */
/**************************************************/

#social-section {
background-color: var(--color-3);
}

#social-section h3{
    color: var(--main-text-color);
    font-size: 3rem;
}

#social-section p {
    color: var(--main-text-color);
}

.social-header {
    font-family: var(--primary-font);
    font-size: 5rem;
    font-weight: 400;
    color: var(--font-color);
}

.social button {
    font-family: var(--secondary-font);
    color: var(--font-color);
    text-decoration: none;
    font-size: 2rem;;
}

.social button:hover {
    color: var(--color-4);
}

.spoon {
    max-width: 80%;
}

.spoon:hover {
    transform: translateX(2%);
}

.juster_bredde {
    max-width: 85%;
}

/**************************************************/
/* Footer */
/**************************************************/

footer {
    background-color: var(--color-1);
}

.me-3 {
    color: white;
}

.copyright {
font-family: var(--primary-font);
font-size: 0.7rem;
font-weight: 300;
}

.copyright a {
    text-decoration: none;

}




/**************************************************/
/* Underside */
/**************************************************/

.underside_body {
    background-image: url("assets/background-1.jpg");
    background-position: top;
}
.home_btn {
    font-family: var(--primary-font);
    font-size: 6rem;
    text-decoration: none;
    color: var(--color-1);
}

.home_btn:hover {
    color: var(--color-3);
}

.underside_sektion_1 img {
    max-width: 70%;
}

.underside_sektion_1 h2 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 3px;
    color: var(--main-text-color);
}

.underside_sektion_1 p {
    font-family: var(--third-font);    
    font-size: 1.3rem;
}

.underside_sektion_2 {
    background-color: var(--color-1);
}

.underside_sektion_2 h3 {
    font-family: var(--primary-font);
    color:var(--color-3);
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.underside_sektion_2 hr {
    color:var(--color-3);
    height: 2px;
    max-width: 80vw;
    
}



.underside_social img {
    width: 20%;
}

.ingredienser {
    width: 80vw;
    background-color: transparent;
}

.list-group-item {
    background-color: transparent;
    border: none;
    color: var(--color-3);
    font-family: var(--secondary-font);
    font-size: 2.5rem;
}

.ing_size {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}

.per_100g {
    color: var(--color-3);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    max-width: 90vw;
}


  /* // Extra small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap*/
/**************************************************/
/* Hjælpefil til at identificere breakpoints. Du kan bruge de samme breakpoints i din egen style.css-fil */
body {
    background-color: white;
     }
    /* tidl. kaldet 'xs-' */
    body::before {
    content: "Default. mobile/under 576px. Deafult i Bootstrap.";
    padding: 1rem;
    background-color: turquoise;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.9;
     }
    /*  section {
       margin-bottom: 30px;
     } */
    /**************************************************/
    /* Small devices (landscape phones, 576px and up) */
    /**************************************************/
    @media (min-width: 576px) {

        #hero {
            height: 70vh;
        }
    
    body::before {
    content: "'sm-': lig el. over 576px.";
       }

       .about h2 {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .about p {
        padding-left: 15%;
        padding-right: 15%;
    }

    .products-2 h2 {
        text-transform: lowercase;
        transform: rotate(0deg);
        font-size: 6rem;
        color: var(--color-3);
        transform-origin: top;
    }

    .products-2 img {
        max-width: 100%;
    }

    /* END "sm-" 576px and up */
     }
    /**************************************************/
    /* // Medium devices (tablets, 768px and up) */
    /**************************************************/
    @media (min-width: 768px) {

        #hero {
            height: 80vh;
        }
    
    body::before {
    content: "'md': lig el. over 768px. ";
       }

       #hero h1 {
        font-size: 7rem;
      }
    
      #hero h3 {
        font-size: 2.5rem;
      }

      .about p {
        font-size: 1.3rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .products-1 h4 {
        font-size: 4rem;
    }


    .juster_bredde {
        max-width: 60%;
    }

    .ingredienser {
        max-width: 40vw;
    }

    .underside_sektion_2 hr {
        max-width: 40vw;
    }

    .underside_sektion_2 h3 {
        font-size: 1.5rem;
    }

    .per_100g {
        max-width: 44vw;
        font-size: 0.8rem ;
    }

    .list-group-item {
        font-size: 2rem;
    }
    
    .ing_size {
        font-family: var(--primary-font);
        font-size: 0.8rem;
        font-weight: 500;
    }

      
    
    /* END "md-" 768px and up */
     }
    /**************************************************/
    /* // Large devices (desktops, 992px and up) */
    /**************************************************/
    @media (min-width: 992px) {

        #hero {
            height: 100vh;
        }
   
    body::before {
    content: "'lg': lig el. over 992px.";
       }

       #hero h1 {
        font-size: 9rem;
      }
    
      #hero h3 {
        font-size: 3rem;
      }

      .about h2 {
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .about p {
        font-size: 1.4rem;
        padding-left: 15%;
        padding-right: 15%;
    }

    .moments {
        max-width: 100%;
    }


    .juster_bredde {
        max-width: 55%;
    }

    

   
    /* END "lg-" 992px and up */
     }
    /**************************************************/
    /* // Extra large devices (large desktops, 1200px and up) */
    /**************************************************/
    @media (min-width: 1200px) {
    
    body::before {
    content: "'xl': lig el. over 1200px.";
       }
       #hero h1 {
        font-size: 10rem;
      }
    
      #hero h3 {
        font-size: 4rem;
      }

      .about h2 {
        padding-left: 15%;
        padding-right: 15%;
    }

    .front-img-hero {
        height: 50%;
        width: auto;
    }
    
    .about p {
        font-size: 1.6rem;
        padding-left: 15%;
        padding-right: 15%;
    }

    .products-1 h4 {
        font-size: 6rem;
    }

    .juster_bredde {
        max-width: 90%;
    }

    .ingredienser {
        max-width: 30vw;
    }

    .underside_sektion_2 hr {
        max-width: 30vw;
    }

    .underside_sektion_2 h3 {
        font-size: 1.5rem;
    }

    .per_100g {
        max-width: 39vw;
        font-size: 0.8rem ;
    }

    .list-group-item {
        font-size: 2rem;
    }
    
    .ing_size {
        font-family: var(--primary-font);
        font-size: 0.8rem;
        font-weight: 500;
    }

    /* END "xl-" 1200px and up */
     }
    /**************************************************/
    /* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
    /**************************************************/
    @media (min-width: 1400px) {
    
    body::before {
    content: "'xxl': lig el. over 1400px.";
       }

       #hero h1 {
        font-size: 11rem;
      }
    
      #hero h3 {
        font-size: 5rem;
      }

      .about h2 {
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .about p {
        font-size: 1.8rem;
        padding-left: 18%;
        padding-right: 18%;
    }

    

   
    /* END "xl-" 1400px and up */
     }
  